[submodule "module/src/main/cpp/rapidjson"]
	path = module/src/main/cpp/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "module/src/main/cpp/hmac_sha256"]
	path = module/src/main/cpp/hmac_sha256
	url = https://github.com/h5p9sl/hmac_sha256.git
[submodule "module/src/main/cpp/httplib"]
	path = module/src/main/cpp/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "module/src/main/cpp/msgpack11"]
	path = module/src/main/cpp/msgpack11
	url = https://github.com/ar90n/msgpack11.git
[submodule "module/src/main/cpp/Dobby"]
	path = module/src/main/cpp/Dobby
	url = https://github.com/JingMatrix/Dobby.git
[submodule "module/src/main/cpp/LSPlant"]
	path = module/src/main/cpp/LSPlant
	url = https://github.com/LSPosed/LSPlant.git
[submodule "module/src/main/cpp/xz-embedded"]
	path = module/src/main/cpp/xz-embedded
	url = https://github.com/tukaani-project/xz-embedded.git
